:root {
  --background-color: #222;
  --foreground-color: #fcfcfc;
  --link-color: #bcf;
  --input-color: #555;
}

app-configuration,
recognizer-app {
  border: 1px solid silver;
  display: block;
  margin: 2rem 0;
  padding: 0 1rem;
}

[ data-app-working = true ] {
  cursor: wait;
}

[ data-app-ok = false ] {
  background: pink;
  border-color: red;
}

button[ type = submit ] {
  font-size: larger;
  padding: .8rem 1.6rem;
}

button[ name = toggleButton ] {
  padding: .45rem .2rem;
}

input[ type = password ],
input[ type = text ],
input[ type = url ] {
  background-color: var(--input-color);
  color: var(--foreground-color);
  font-size: inherit;
  min-width: 25rem;
  padding: .4rem .1rem;
}

:link {
  color: var(--link-color);
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: sans-serif;
  line-height: 1.3;
  margin: 0 auto;
  max-width: 36rem;
  padding: 0 1rem;
}

* {
  outline-offset: .15rem;
  text-underline-offset: .25rem;
}

:focus,
:hover {
  text-decoration-thickness: .25rem;
  X-transition: all 250ms;
}
